# ----------------------------------------------------
# 🔐 GOVERNANÇA VMGTEC
# Os arquivos abaixo são gerenciados pelo Repositório Central.
# Ninguém na biblioteca filha pode aprová-los sem um Admin.
# ----------------------------------------------------

# GitHub Actions & Configs
/.github/workflows/ci.yml         @victormgomes
/.github/dependabot.yml           @victormgomes
/.github/PULL_REQUEST_TEMPLATE.md @victormgomes
/.github/ISSUE_TEMPLATE/          @victormgomes

# Tooling & Linting Configs
/.editorconfig                    @victormgomes
/.prettierrc*                     @victormgomes
/.prettierignore                  @victormgomes
/.markdownlint-cli2.jsonc         @victormgomes
/captainhook.json                 @victormgomes
/composer-require-checker.json    @victormgomes
/infection.json.dist              @victormgomes
/phpinsights.php                  @victormgomes
/phpstan.neon.dist                @victormgomes
/phpunit.xml.dist                 @victormgomes
/rector.php                       @victormgomes

# DevOps & Docker
/Dockerfile                       @victormgomes
/docker-compose.yml               @victormgomes
/.actrc                           @victormgomes
